body {
  --background: #fafafa;
  --text-color: black;
  --subtle-text-color: rgba(0, 0, 0, 0.7);
  --divider-color: rgba(0, 0, 0, 0.25);
  --tabs-height: 3rem;

  margin: 0;
  min-height: calc(100vh - 1rem); /* Not sure why this works (: */

  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-color);
  background: var(--background);
  text-align: center;
  accent-color: #0a214d;
}
.dark {
  --text-color: white;
  --subtle-text-color: rgba(255, 255, 255, 0.7);
  --background: #333;
  --divider-color: rgba(255, 255, 255, 0.7);
}
.dark .about__self-logo {
  filter: invert(100%);
}

h2.small,
h3 {
  font-size: 1.17em;
}

.link {
  color: inherit;
}
.link:hover {
  text-decoration: none;
}

label,
input,
button,
summary {
  font: inherit;
  color: inherit;
  cursor: pointer;
}

dialog {
  position: absolute;
  display: block;
  visibility: hidden;
  width: max-content;
  height: max-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 0;

  border-radius: 4px;
  padding: 1rem;
  z-index: 6;
  text-align: left;
  background: var(--background);
  color: var(--text-color);
  transition: opacity 0.3s ease;
  opacity: 0;
}
dialog[open] {
  visibility: visible;
  opacity: 1;
}

.url-dialog[open] + .scrim.toggle--url {
  visibility: visible;
}

.title {
  margin: 0;
  font-size: 1.6rem;
}
.navbar {
  display: grid;
  grid-template:
    'logo title links toggle' var(--tabs-height)
    / 40px fit-content(14rem) auto 2rem;
  column-gap: 0.5rem;
  margin-bottom: 2rem;
  align-items: center;
  padding: 0 0.5rem;
}
@media (max-width: 40rem) {
  .navbar {
    grid-template:
      'logo title toggle' 3rem
      'links links links' auto
      / 40px auto 2rem;
  }
}

.navbar__links {
  margin: auto;
  display: flex;
  grid-area: links;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar__link {
  display: block;
  padding: 0 1rem;
  border-bottom: 2px solid transparent;

  line-height: calc(var(--tabs-height) - 2px);
  text-decoration: none;
  color: var(--subtle-text-color);
  font-weight: bold;
  white-space: nowrap;
}
.navbar__link:hover {
  background: rgba(8, 27, 64, 0.2);
}
.navbar__link:focus {
  background: rgba(8, 27, 64, 0.3);
}
.navbar__link--active {
  color: inherit;
  border-color: currentColor;
}
.navbar__logo {
  display: block;
}
dark-mode-toggle {
  --dark-mode-toggle-light-icon: url('toggle/sun.svg');
  --dark-mode-toggle-dark-icon: url('toggle/moon.svg');
  --dark-mode-toggle-icon-filter: invert(100%);
}

.hidden-offscreen {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -1;
}

input[type='text'],
input[type='url'] {
  border: 0;
  padding: 0;
  background: transparent;
  border-bottom: 1px solid var(--divider-color);
}

.button--primary,
.button--secondary {
  display: inline-block;
  padding: 0 0.75rem;
  line-height: 2.25rem;

  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  background: #0a214d;
  font-weight: 700;
  font-size: 0.875em;
}
.button--primary:hover,
.button--secondary:hover,
input:focus + label.button--primary,
input.focus + label.button--primary input:focus + label.button--secondary,
input.focus + label.button--secondary {
  background: #081b40;
  box-shadow: 0 1px 2px #3c40434d, 0 1px 3px 1px #3c404326;
}
.button--primary:active,
.button--secondary:active {
  background: #10347a;
  box-shadow: 0 1px 2px #3c40434d, 0 2px 6px 2px #3c404326;
}

.button__row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

summary h3 {
  display: inline-block;
}

.scrim,
.button--small {
  border: 0;
  padding: 0;
  background: transparent;
}
.scrim,
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.scrim {
  display: block;
  visibility: hidden;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.button--small {
  width: 2rem;
  fill: currentColor;
}
.close-button {
  position: absolute;
  line-height: 2rem;
  width: 2rem;
  top: 1rem;
  right: 1rem;
}

.dialog-buttons {
  margin-top: 1rem;
  justify-content: end;
}

.drop {
  overflow: hidden;
  touch-action: none;
  height: 100%;
  width: 100%;
}
.drop::after {
  content: '';
  position: absolute;
  display: block;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  opacity: 0;
  transform: scale(0.95);
  transition: all 200ms ease-in;
  transition-property: transform, opacity;
  pointer-events: none;
  z-index: 10;
}
.drop.drop-valid::after {
  opacity: 1;
  transform: scale(1);
  transition-timing-function: ease-out;
}

.demo__list {
  display: flex;
  padding: 0;
  margin: 1rem 0;
  gap: 4px;
  justify-content: center;
}
.demo {
  display: inline-block;
  width: 100%;
  max-width: 56px;
}
.demo__link {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.demo__preview {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon__grid {
  height: 192px;
  width: 192px;
  margin: 1em auto;
  display: grid;
  place-content: center;

  border: 1px solid transparent;
  transition: transform 0.3s ease;
}
.icon__original,
.icon__mono {
  grid-area: 1/1;
  height: 100%;
  width: 100%;

  opacity: 1;
  transition: opacity 0.3s ease;
}
.icon {
  display: block;
  width: 100%;
  height: 100%;
}

.icon__original {
  opacity: 0;
}
.icon--original .icon__original {
  opacity: 1;
}
.icon--original .icon__mono {
  opacity: 0;
}

.mask__option {
  display: inline-block;
  line-height: 1.5em;
}

.source,
.about p {
  opacity: 0.7;
}
.source__link,
.about__link {
  color: inherit;
}

.text {
  padding: 0 0.5em;
}
hr {
  margin: 2rem auto;
  max-width: 20rem;
}
.about {
  margin: auto;
  max-width: 42rem;
}
.about__extra {
  margin: 0.5em 0;
}
.about__row {
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about__self-logo {
  display: block;
  margin: auto;
}

.monochrome__container {
  overflow: hidden;
}
.monochrome {
  transform: translateX(-192px);
  filter: drop-shadow(192px 0 0);
  color: var(--foreground-color, var(--canvas-light, #4b4b4b));
}
.dark .monochrome {
  color: var(--foreground-color, var(--canvas-dark, #e4e4e4));
}

.preview {
  display: inline-block;
  position: relative;
}
.preview img {
  display: block;
}
.preview__icon {
  position: absolute;
  display: grid;
}

.preview--android_notification {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.preview--android_notification .preview__icon {
  top: 18.9px;
  left: 17.3px;
  width: 21.6px;
  height: 21.6px;
}

@media (max-height: 400px) {
  .button--primary,
  .button--secondary {
    line-height: 1.5rem;
  }
  .icon__grid {
    height: 128px;
    width: 128px;
  }
  body {
    --tabs-height: 2rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .drop,
  .icon,
  .icon__grid {
    transition: none;
  }
}

@media (max-width: 20rem) {
  .title {
    font-size: 8vw;
  }
}

#url {
  width: 20em;
  max-width: 100%;
}

.control {
  display: grid;
  grid-template-columns: auto 5rem;
  grid-template-rows: min-content;
  grid-template-areas:
    'label label  '
    'input preview';
  grid-gap: 0.25rem;
  width: 12rem;
  margin-inline: auto;
  margin-bottom: 0.5em;
}
.control__label {
  grid-area: label;
  text-align: left;
  display: flex;
}
.control__input {
  grid-area: input;
}
.control__preview {
  grid-area: preview;
}
.accent--foreground {
  accent-color: var(--foreground-color, inherit);
}

.button--small {
  width: 2rem;
  fill: currentColor;
}
